@use "../base/mixin" as *;
@use "../base/madia" as *;

.review-card {
  --reviewCardCornerWidth: 40px;
  --reviewCardOffsetLeft: 52px;

  display: flex;
  flex-direction: column;
  row-gap: 48px;

  @include mobile {
    row-gap: 44px;
  }

  &__body {
    position: relative;
    border-radius: var(--border-radius-big);
    border: 1px solid var(--color-green);
    padding: 42px var(--reviewCardOffsetLeft) 52px;

    @include mobile {
      padding: 25px;
      line-height: 150%;
    }

    @include fluid-text(18, 16);

    &::after {
      @include square(var(--reviewCardCornerWidth));

      content: "";
      border-bottom: 1px solid var(--color-green);
      border-right: 1px solid var(--color-green);
      position: absolute;
      rotate: 45deg;
      top: 100%;
      left: var(--reviewCardOffsetLeft);
      translate: 0 -50%;
      background-color: var(--color-black);
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding-left: calc(
      var(--reviewCardOffsetLeft) + var(--reviewCardCornerWidth) / 2
    );
    font-style: normal;

    @include mobile-s {
      padding-left: calc(
        (var(--reviewCardOffsetLeft) + var(--reviewCardCornerWidth) / 3) - 20px
      );
    }
    @include mobile-small {
      padding-left: 10px;
    }
  }

  &__title {
    font-weight: 500;
    color: var(--color-green);
    font-style: inherit;

    @include fluid-text(20, 18);

    @include mobile {
      font-weight: 600;
    }
  }

  &__subtitle {
    font-style: inherit;

    @include fluid-text(18, 16);
  }
}
